img.user2{
    width: 30px;
    margin-top: 12px;
  }
.logo-blanco img{
	width: 250px;
    float: right;
}

  .container-header{
		padding-top: 26px;
	}
  .azul{
	  background-color: #0030A5;
  }
  .user2 ul li {
      list-style: none;
  }
  .up{
      margin-top: -36px;
  }
  .alto{
      padding-top: 80px;
  }
.logo_login img{
    width: 100px;
}
  .side7{
      background-color: rgba(169, 169, 169, 0.356);
  }
  ul.derc{
      float: right;
  }
  li.blanco a{
      color: #FFF;
  }
  button {
	border-radius: 20px;
	border: 1px solid #2d07d8;
	background-color: #2d07d8;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.form2 {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container5 {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
            position: initial;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #0030A5;
	background: -webkit-linear-gradient(to right, #2d07d8, #0030A5);
	background: linear-gradient(to right, #2d07d8, #0030A5);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}
.adminno {
    background-color: #0030a5 !important;
}
.cuerpo2{ 
	min-height: 520px;
}
.hidden{display:none !important}

.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
	.div1 { grid-area: 1 / 1 / 2 / 4; }
	.div2 { grid-area: 2 / 1 / 3 / 4; }
	.div3 { grid-area: 1 / 4 / 3 / 6; }
	.div4 { grid-area: 3 / 1 / 4 / 6; }
	.div5 { grid-area: 4 / 1 / 5 / 3; }
	.div6 { grid-area: 4 / 3 / 5 / 6; }
	.div7 { grid-area: 5 / 1 / 6 / 2; }
	.div8 { grid-area: 5 / 2 / 6 / 4; }
	.div9 { grid-area: 5 / 4 / 6 / 5; }
	.div10 { grid-area: 5 / 5 / 6 / 6; }
	.div11 { grid-area: 6 / 1 / 7 / 2; }
	.div12 { grid-area: 6 / 2 / 7 / 3; }
	.div13 { grid-area: 6 / 3 / 7 / 4; }
	.div14 { grid-area: 6 / 4 / 7 / 6; }